.nav-aside-wrapper {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--clr-faded-bg);
    z-index: var(--z-index-11);
}
.nav-aside-content {
    width: 18rem;
    position: relative;
    display: none;
    background-color: var(--clr-whitesmoke);
    box-shadow: var(--box-shadow-light);
    position: fixed;
    z-index: var(--z-index-11);
    top: 0;
    bottom: 0;
}
.nav-aside-header {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--clr-primary);
    border-bottom: 4px solid var(--clr-secondary);
    padding: var(--padding-sm);
}
.nav-aside-header .btn-icon i {
    color: var(--clr-whitesmoke);
}
.nav-aside-header .btn {
    color: var(--clr-whitesmoke);
}
.nav-aside-actions > * {
    font-size: 1rem;
}
/* media */
@media screen and (max-width: 800px) {
    .nav-aside-wrapper.nav-aside-active,
    .nav-aside-content.nav-aside-active {
        display: flex;
    }
}
@media screen and (max-width: 450px) {
    .nav-aside-content {
        width: 14rem;
    }
}
